.container {
  padding: 0 2rem;
}

.main {
}

.datadivider {
 border-top: 1px solid black;
}

.date {
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.list {
  font-size: 1.5rem;
  padding: 54rem 1rem;
  justify-content: center;
  align-items: center;
}

