.container {
  position: relative;
  background-color: #000000;
  height: 100vh;
  width: 1050px;
  color: #ffffff;

}

.bottomsection {
  position: absolute;
  bottom: 20px;
  left: 0;

}
.main {
  background-color: #000000;
  color: #ffffff;
}


.datadivider {
 border-top: 1px solid white;
}

.date {
  margin-top: 0;
  font-size: 4rem;
}
.list {
  font-size: 1.5rem;
}
.playing {
  left: 50px;
  font-size: 1.5rem;
}
